<!DOCTYPE html>

<html>

<head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/styles.css"> <!--rel means 'relation' i.e. here it is a stylesheet. --> 
</head>

<body>
        <div class="main-content">
                {{>header}}
                <img class="potrait" src="img/fighter.jpg">
        </div>
        {{>footer}}
    </body>

</html>