<!DOCTYPE html>

<html>

<head>
        <link rel="icon" href="/img/weather.png">
        <title>Help</title>
        <link rel="stylesheet" href="css/styles.css"> <!--rel means 'relation' i.e. here it is a stylesheet. --> 
</head>

<body>
        <div class="main-content">
        {{>header}}
        </div>   <!--rendering partials (partials are basically small sections of a page used to commonly across the entire site to maintian uniformity)-->
        {{>footer}}
</body>

</html>